.swipeable-card {
    position: absolute;
    width: 90%; /* Customize to fit your design */
    height: 500px; /* Customize to fit your design */
    border-radius: 20px;
    overflow: hidden;
    touch-action: none; /* Disable default touch actions to handle it manually */
  }
  .swipeable-card.swiping {
    transition: transform 0.1s ease-out;
  }
  
  /* Class to add when a swipe is detected */
  .swipe-left {
    transform: translateX(-100%) rotate(-20deg);
  }
  
  .swipe-right {
    transform: translateX(100%) rotate(20deg);
  }
  